<section id="sectionProgram">
    <h2>Programa: Faldas</h2>
    <ul>
        <li>
            <a href="/panel/learningObject">
                <h3>1.0</h3>
                Home
            </a>
            <ul>
                <li>
                    <a href="/panel/learningObject">
                        <h4>1.0.1</h4>
                        Imprint
                    </a>
                </li>
                <li>
                    <a href="/panel/learningObject">
                        <h4>1.0.2</h4>
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="/panel/learningObject">
                        <h4>1.0.3</h4>
                        Terms
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>2.0</h3>
                Tour
            </a>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>3.0</h3>
                Plans & Pricing
            </a>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>4.0</h3>
                Buzz
            </a>
            <ul>
                <li>
                    <a href="/panel/learningObject">
                        <h4>4.0.1</h4>
                        ixd
                    </a>
                </li>
                <li>
                    <a href="/panel/learningObject">
                        <h4>4.0.2</h4>
                        push
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>5.0</h3>
                Team
            </a>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>6.0</h3>
                Help
            </a>
            <ul>
                <li>
                    <a href="/panel/learningObject">
                        <h4>6.0.1</h4>
                        Changelog
                    </a>
                </li>
                <li>
                    <a href="/panel/learningObject">
                        <h4>6.0.2</h4>
                        Contact Support
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/panel/learningObject">
                <h3>7.0</h3>
                Blog
            </a>
        </li>
    </ul>
</section>
<div id="sideColumn">
    <section id="sectionMessages">
        <h2>Avisos</h2>
        <ul>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
        </ul>
        <a href="/panel/program">Más avisos</a>
    </section>
    <section id="sectionCalendar">
        <h2>Calendario</h2>
        <ul>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
        </ul>
        <a href="/panel/program">Más eventos</a>
    </section>
    <section id="sectionForums">
        <h2>Foros</h2>
        <ul>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
        </ul>
        <a href="/panel/program">Más foros</a>
    </section>
    <section id="sectionResources">
        <h2>Recursos</h2>
        <ul>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
            <li>
                <a href="/panel/program">Lorem Ipsum Dolor Sis Amet</a>
            </li>
        </ul>
        <a href="/panel/program">Más recursos</a>
    </section>
</div>