.filterList {
  li {
    &:nth-child(odd) {
      background-color: lighten(@colorMain, 60);
    }
    a {
      .boxSizing;
      display: block;
      padding: .5em;
      width: 100%;
    }
    .title{
      font-size: 1.25em;
    }
  }
}