<div id="contentContainer">
    <h2>Información para voluntarios</h2>
    <h3>Recomendaciones para el acta constitutiva</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum, felis vel consequat cursus, ipsum
        tortor fringilla metus, ut sodales leo urna vel sapien. Donec vel ante tempus, venenatis nibh et, pellentesque
        sapien. Aliquam cursus dui quis vulputate placerat. Sed sodales consequat neque, eget commodo ligula. Sed
        tincidunt eros vitae nisi ultrices, nec semper ipsum lacinia. Donec at ipsum eget dui mattis porta. Morbi felis
        turpis, commodo sit amet mi quis, vestibulum hendrerit dolor. <br/>
    <a href="#">Conoce más</a></p>
    <h3>Cómo registrar un grupo de voluntariado</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum, felis vel consequat cursus, ipsum
        tortor fringilla metus, ut sodales leo urna vel sapien. Donec vel ante tempus, venenatis nibh et, pellentesque
        sapien. Aliquam cursus dui quis vulputate placerat. Sed sodales consequat neque, eget commodo ligula. Sed
        tincidunt eros vitae nisi ultrices, nec semper ipsum lacinia. Donec at ipsum eget dui mattis porta. Morbi felis
        turpis, commodo sit amet mi quis, vestibulum hendrerit dolor. <br/>
        <a href="#">Conoce más</a></p>
    <h3>Lista de instituciones de apoyo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum, felis vel consequat cursus, ipsum
        tortor fringilla metus, ut sodales leo urna vel sapien. Donec vel ante tempus, venenatis nibh et, pellentesque
        sapien. Aliquam cursus dui quis vulputate placerat. Sed sodales consequat neque, eget commodo ligula. Sed
        tincidunt eros vitae nisi ultrices, nec semper ipsum lacinia. Donec at ipsum eget dui mattis porta. Morbi felis
        turpis, commodo sit amet mi quis, vestibulum hendrerit dolor. <br/>
        <a href="#">Conoce más</a></p>

</div>