<div id="contentContainer" data-ng-controller="ControllerEvent" data-ng-init="updateLists()">
    <h2>{{event.name}}</h2>

    <form data-ng-if="isOwner">
        <h3>Editar datos del evento</h3>
        <label>Nombre</label>
        <input type="text" data-ng-model="eventName"/>
        <label>Fecha de inicio</label>
        <input type="text" name="eventDateBegin" data-ng-model="eventDateBegin" required/>
        <label>Fecha de fin</label>
        <input type="text" name="eventDateEnd" data-ng-model="eventDateEnd" required/>
        <button data-ng-click="updateInfo()">Guardar</button>
    </form>
    {{messageUpdate}}
    <form data-ng-if="isOwner">
        <fieldset>
            <h3>Buscar usuario por:</h3>
            <select name="userProfileType"
                    data-ng-model="profileType"
                    data-ng-options="option.name for option in profileTypeOptions"
                    data-ng-init="profileType=profileTypeOptions[0]"
                    data-ng-change="clearFields()">
            </select>
        </fieldset>
        <fieldset>
            <label>Nombre del usuario</label>
            <input name="input" data-ng-model="fieldUser" data-ng-change="searchUser()">
        </fieldset>
    </form>
    {{messageSearch}}
    <ul>
        <li data-ng-repeat="user in availableUsers">{{user.name}} {{user.lastname}}
            <button data-ng-click="enrollUser(user)">Enrolar</button>
        </li>
    </ul>

    <ul id="tabUsers" class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#voluntarios" role="tab" data-toggle="tab">Voluntarios</a>
        </li>
        <li>
            <a href="#aliados" role="tab" data-toggle="tab">Aliados</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="voluntarios">
            <ul>
                <li data-ng-repeat="volunteer in volunteerList"><a href="/usuario/{{volunteer.user.id}}">{{volunteer.user.name}}
                    {{volunteer.user.lastname}}</a>
                    <button data-ng-click="withdrawUser(student.id)" data-ng-if="isOwner">Retirar</button>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="aliados">
            <ul>
                <li data-ng-repeat="ally in allyList"><a href="/usuario/{{ally.user.id}}">{{ally.user.name}}
                    {{ally.user.lastname}}</a>
                    <button data-ng-click="withdrawUser(teacher.id)" data-ng-if="isOwner">Retirar</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('#tabUsers a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    })
</script>