<div id="contentContainer" data-ng-controller="ControllerEvents" data-ng-init="init()">
    <h2>Eventos</h2>

    <div data-ng-if="enableAddEvent">
        <h3>Agregar evento</h3>

        <form name="addEventForm" method="post" data-ng-submit="addEvent()">
            <label>Nombre</label>
            <input type="text" data-ng-model="event.name"/>
            <label>Fecha de inicio</label>
            <input type="date" name="eventDateBegin" data-ng-model="event.beginning" required/>
            <label>Fecha de fin</label>
            <input type="date" name="eventDateEnd" data-ng-model="event.end" required/>
            <label>Voluntarios necesarios</label>
            <input type="number" name="eventDateEnd" data-ng-model="event.usermin" required/>
            <button type="submit">Agregar</button>
        </form>
        {{messageEvent}}<br/>
    </div>
    <ul id="gridEvents" class="grid">
        <li data-ng-repeat="event in events" class="cols-4">
            <a href="/evento/{{event.id}}">
                <img src="/styles/images/reforestaThumb.png" alt="{{event.name}}"/>

                <div class="info">
                    <div class="flag"><span class="big">{{event.usermin}}</span> voluntarios necesarios</div>
                    <h3 class="title">{{event.name}}</h3>
                </div>
                <span data-ng-if="!isCreator(event.creator) && !event.isEnrolled"
                      class="label interactionAlt right">Únete</span>
            <span class="label action right" data-ng-if="event.isEnrolled && !isCreator(event.creator)">Registrado</span>
            </a>
            <button data-ng-click="deleteEvent(event.id)" data-ng-if="isCreator(event.creator)" class="right">Eliminar
            </button>
        </li>
    </ul>
</div>
