<div id="contentContainer" data-ng-controller="ControllerEvent" data-ng-init="updateLists()">
    <h2>{{event.name}}</h2>

    <form>
        <h3>Editar datos del evento</h3>
        <label>Nombre</label>
        <input type="text" data-ng-model="eventName"/>
        <label>Fecha de inicio</label>
        <input type="date" name="eventDateBegin" data-ng-model="event.beginning" value="{{eventDateBegin}}" required/>
        <label>Fecha de fin</label>
        <input type="date" name="eventDateEnd" data-ng-model="event.end" value="{{event.end}}" required/>
        <button data-ng-click="updateInfo()">Guardar</button>
    </form>
    {{messageUpdate}}
    <form>
        <fieldset>
            <h3>Buscar usuario por:</h3>
            <select name="userProfileType"
                    data-ng-model="profileType"
                    data-ng-options="option.name for option in profileTypeOptions"
                    data-ng-init="profileType=profileTypeOptions[0]"
                    data-ng-change="clearFields()">
            </select>
        </fieldset>
        <fieldset>
            <label>Nombre del usuario</label>
            <input name="input" data-ng-model="fieldUser" data-ng-change="searchUser()">
        </fieldset>
    </form>
    {{messageSearch}}
    <ul>
        <li data-ng-repeat="user in availableUsers">{{user.name}} {{user.lastname}}
            <button data-ng-click="enrollUser(user)">Enrolar</button>
        </li>
    </ul>

    <h3>Lista de voluntarios</h3>
    <ul>
        <li data-ng-repeat="volunteer in volunteerList"><a href="/usuario/{{volunteer.user.id}}">{{student.user.name}}
            {{volunteer.user.lastname}}</a>
            <button data-ng-click="withdrawUser(student.id)">Retirar</button>
        </li>
    </ul>
    <h3>Lista de aliados</h3>
    <ul>
        <li data-ng-repeat="ally in allyList"><a href="/usuario/{{ally.user.id}}">{{teacher.user.name}}
            {{ally.user.lastname}}</a>
            <button data-ng-click="withdrawUser(teacher.id)">Retirar</button>
        </li>
    </ul>
</div>