#avatarCreator
{
  width: 8em;
  height: 8em;
  position: relative;
  outline: 1px dotted #f00;
  #avatarContainer
  {
    width: 4em;
    height: 8em;
    position: absolute;
    top: 0;
    left: 2em;
    outline: 1px dotted #0f0;

    .avatarPart
    {
      background-image: url("/img/avataratlas.png");
      outline: 1px dotted #00f;
      background-repeat: no-repeat;
    }
    #avatarBody
    {
      position: absolute;
      top: 4em;
      left: 0;
      width: 4em;
      height: 4em;
      background-position: 0em -8em;
    }
    #avatarHead
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 4em;
      height: 4em;
      background-position: 0em 0em;
    }
    #avatarHair
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 4em;
      height: 4em;
      background-position: 0em -4em;
    }
  }
}